<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcs.presentation">
    <application>
        <activity android:name=".ui.ListPersonActivity" />
        <activity android:name=".ui.DetailPersonActivity" />
    </application>
</manifest>